body {
    background-color: #424874;
    height: 100vh;
}

h1 {
    color: #DCD6F7;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

body div {
    text-align: center;
    margin-bottom: 40px;
}

.btn {
    background-color: #a6b1e1;
    color: #424874;
    margin: 5px;
    height: 4vh;
    width: 12vw;
    font-size: large;
    font-family: 'Press Start 2P', cursive;
    border-radius: 15px;
}

.bars {
    background-color: #DCD6F7;
    height: 6px;
    margin: 3px;
}